<ion-view>
  <ion-content class="splash padding">
    <div>

    </div>
    <div class="branding">
      <div class="tagline" style="color:#1a18e6; font-size:260%; font-style: italic" ><p><i>In for summer!</i></p></div>
      <img src="img/orange.png" alt="BMI" height="100" width="100" align="center">
      <p style="color:#e68811; font-size:150%">Getting in <italic style="font-size:180%; color:#1a18e6">shape</italic> is a long walk, it begins with knowing how far you are where BMi index play big role.</p>
    </div>
    <form class="list" >
      <label class="item item-select" style="background-color: #e68811" >
        <span class="input-label">Measurement</span>
        <select>
          <option>Metric</option>

          <option>Imperial</option>
        </select>
      </label>
    </form>
    <a ui-sref="tabs.bmi" id="coverPage-button1" class="button button-positive  button-block">Lets do it!</a>

  </ion-content>
</ion-view>
