<ion-view hide-nav-bar="true">
  <ion-content class="splash padding">
    <div>

    </div>
    <div class="branding">
      <div class="tagline" style="color:#1a18e6; font-size:260%; font-style: italic"><p><i>In for summer!</i></p></div>
      <img src="img/orange.png" alt="BMI" height="100" width="100" align="center">
      <p style="color:#ffb463; font-size:150%">Getting in
        <italic style="font-size:180%; color:#1a18e6"> shape</italic>
        is a long walk, We help you knowing how far it is and walk together toward your desired BMI
      </p>

    </div>
    <div style="margin-top: 130px;">
      <p style="color:#ffb463; font-size:150%">Measurement : {{ data.measurement }}</p>
      <ion class="list">
        <ion-radio ng-repeat="item in measurment_option"
                   ng-value="item.value"
                   ng-model="data.measurement">
          {{ item.text }}
        </ion-radio>

      <button class="button button-energized  button-outline button-block"
              ng-click="changeMethod()"
              ng-disabled="!data.measurement"
      >Lets do it!</button>
      </ion>

    </div>


  </ion-content>
</ion-view>
