<ion-view hide-nav-bar="true">
  <ion-content class="splash padding">
    <div>

    </div>
    <div class="branding">
      <div class="tagline" style="color:#1a18e6; font-size:260%; font-style: italic" ><p><i>In for summer!</i></p></div>
      <img src="img/orange.png" alt="BMI" height="100" width="100" align="center">
      <p style="color:#ffb463; font-size:150%">Getting in <italic style="font-size:180%; color:#1a18e6">  shape  </italic> is a long walk, We help you knowing how far it is and walk together toward your desired BMI </p>
      <p style="color:#ffb463; font-size:150%">Select measurement</p>

    </div>

  <ion class="list" ng-controller="CoverController" >
      <!--<div class="item item-divider my_list">Measurement : {{ data.measurement }}-->
      <ion-radio ng-repeat="item in measurment_option"
                 ng-value="item.value"
                 ng-model="data.measurement">
        {{ item.text }}
      </ion-radio>
      <!--</div>-->
    </ion>


    <a ui-sref="tabs.bmi" id="coverPage-button1" class="button button-energized  button-outline button-block">Lets do it!</a>


  </ion-content>
</ion-view>
