
</ion-view>
<ion-view title="BMI Mobile">
  <ion-content>
    <div class="row">
      <div class="col">
        <p>Craft Academy Assignment application porting the BMI calculator to Ionic</p>
        <p>Source code same as the BMI JS assignment, mobile version using Ionic, developed by Mazen & Thomas</p>
        <div class="button-bar">
          <button class=" icon ion-social-github button button-clear"
                  href="#" onclick="window.open('git@github.com:tochman/bmi_ionic.git', '_system', 'location=yes'); return false;"></button>
          <button class=" icon ion-social-facebook button button-clear"
                  href="#" onclick="window.open('https://www.facebook.com/craftacademysweden/?fref=nf', '_system', 'location=yes'); return false;"></button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


