<ion-view>
  <ion-content>
    <h1>Hello</h1>
    <div ng-repeat="user in users">
      <p>Hi there {{user.user_name}}!</p>
    </div>

    <div class="button-bar">
      <button class=" icon ion-social-github button button-clear"
              onClick="window.open('git@github.com:tochman/bmi_ionic.git','_blank','location=yes');return false;"></button>
      <button class=" icon ion-social-facebook button button-clear"
              onClick="window.open('https://www.facebook.com/craftacademysweden/?fref=nf','_blank','location=yes');return false;"></button>
    </div>

  </ion-content>

</ion-view>
